.header {
    margin-bottom: 2rem;

    @include breakpoint-up(xlarge) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__title {
        font-size: 1.75rem;
        margin-bottom: 0.125rem;
    }

    &__theme {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .hr {
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include breakpoint-up(xlarge) {
            display: none;
        }
    }
}