* {
    /* PRIMARY */
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
    --gradient: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 50%);
    --gradient-bg: hsl(146, 68%, 55%);

    /* LIGHT LIGHT */
    --bg-light: hsl(0, 0%, 100%); /* BG */
    --bg-top-light: hsl(225, 100%, 98%); /* Top BG Pattern */
    --card-bg-light: hsl(227, 47%, 96%); /* Card BG */
    --text1-light: hsl(230, 17%, 14%); /* Text 1 */
    --text2-light: hsl(228, 12%, 44%); /* Text 2 */

    --toggle-bg-light: hsl(230, 22%, 74%); /* Toggle BG */

    /* DARK SCHEME */
    --bg-dark: hsl(230, 17%, 14%); /* BG */
    --bg-top-dark: hsl(232, 19%, 15%); /* Top BG Pattern */
    --card-bg-dark: hsl(228, 28%, 20%); /* Card BG */
    --text1-dark: hsl(0, 0%, 100%); /* Text 1 */
    --text2-dark: hsl(228, 34%, 66%); /* Text 2 */

    --toggle-bg-dark: linear-gradient(90deg, hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 50%); /* toggle BG */
}

.text1 {
    color: var(--text1);
}

.text2 {
    color: var(--text2);
}